/* Global Styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9; /* Couleur claire pour le fond */
    color: #333; /* Texte sombre */
    margin: 0;
    padding: 0;
}

header {
    background-color: #111; /* Couleur sombre pour le header */
    padding: 20px;
    text-align: center;
}

header h1 a {
    color: white; /* Couleur blanche pour le lien */
    text-decoration: none;
}

/* Login Page Styles */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f9;
}

.login-box {
    background-color: #fff; /* Blanc pour la boîte de connexion */
    padding: 20px 40px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Ombre légère */
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.login-box h2 {
    color: #333; /* Texte sombre */
    margin-bottom: 20px;
}

.login-box label {
    display: block;
    text-align: left;
    font-size: 14px;
    margin-bottom: 8px;
    color: #888; /* Texte gris */
}

.login-box input {
    width: 100%;
    padding: 10px;
    border: 1px solid #888;
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: #f4f4f9;
    color: #333;
}

.login-box input:focus {
    border-color: #a31907; /* Couleur rouge pour focus */
    outline: none;
}

.btn-primary {
    width: 100%;
    padding: 10px;
    background-color: #a31907; /* Couleur rouge */
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #d35400; /* Orange foncé au survol */
}

.note {
    font-size: 12px;
    color: #888;
}

.note a {
    color: #a31907;
    text-decoration: none;
}

.help-link {
    display: block;
    margin-top: 10px;
    font-size: 12px;
    color: #a31907;
    text-decoration: none;
}

.help-link:hover {
    text-decoration: underline;
}

hr {
    margin: 20px 0;
    border: none;
    border-top: 1px solid #888;
}

.new-account {
    text-align: center;
}

.new-account p {
    margin: 10px 0;
}

.btn-secondary {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3260A8; /* Bleu */
    color: #FFFFFF;
    text-decoration: none;
    border-radius: 5px;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.btn-secondary:hover {
    background-color: #111; /* Couleur sombre au survol */
}

/* Footer */
footer {
    background-color: #111; /* Couleur sombre */
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
